.taskCard {
	background-color: #32312e;
	width: 40%;
	border-radius: 1rem;

	padding: 2% 4%;
	margin: 1%;

	box-shadow: 5px;
}

.titleDiv {
	display: flex;
	justify-content: space-between;

	margin: 0;
}

.titleDiv h2 {
	margin: 0;
}

.titleDiv h3 {
	color: #eb5e28;
	margin: 0;
}

.todoUsersDiv {
	margin: 2% 0;
}

.todoUsersDiv h3 {
	margin: 1%;
	opacity: 0.5;
}

.actionsDiv {
	display: flex;
	justify-content: space-between;
}

.actionsDiv div:nth-child(1) {
	width: 80%;
}

.todoUsersDiv div:nth-child(1) {
	display: flex;
	justify-content: space-between;
}

.timeDiv {
	display: flex;
	justify-content: space-between;
}
