.taskCard {
	background-color: #32312e;
	width: 40%;
	border-radius: 1rem;

	padding: 2% 4%;
	margin: 1%;

	box-shadow: 5px;
}

.titleDiv {
	display: flex;
	justify-content: space-between;
}

.titleDiv h3 {
	color: #eb5e28;
}

.actionsDiv {
	display: flex;
	justify-content: space-between;
}

.actionsDiv div:nth-child(1) {
	width: 80%;
}
